html,
body {
  box-sizing: border-box;
}
*::-webkit-scrollbar {
    display: none;
} 
body::-webkit-scrollbar {
    display: none;
}

@media print {
  .content--shrink {
    margin-left: 0 !important;
  }

  .noPrint {
    display: none !important;
  }

  .noBreak {
    break-inside: avoid;
  }
}
